/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}


body {
  font-family: 'Roboto', sans-serif;
}

body, select, input, textarea {
  color: #333;
  background-color: #01a7ff;
}

a {
  color: #03f;
}
a:hover {
  color: #69f
;}

::-moz-selection{background: #ffffff; color: #333333; text-shadow: none;}
::selection {background: #ffffff; color: #333333; text-shadow: none;}

a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

blockquote {padding: 16px; background: #eee;}


/* Default
-------------------------------------------------------------------------------*/
h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

a {
  color: #fcd700;
  text-decoration: none;

  &:hover {
    color: #fcd700;
    text-decoration: underline;
  }
}

pre {
  background-color: #444;
  padding: 12px;
}

p {
  color: #fff;
}

.minor-content {
  margin-top: 3rem;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .impressum {
    margin-top: 2rem;
  }
}


.logo {
  display: block;
  width: 72px;
  margin: 0.5rem auto
}

.main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .headline {
    margin: 1rem;
  }

  .content {

    display: flex;
    justify-content: stretch;
    flex-direction: column;

    margin-top: 1rem;

    .item {
      padding: 2rem;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px;
      margin-bottom: 2rem;

      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      &.ok {
        background-color: mediumseagreen;
      }

      &.alert {
        background-color: lightcoral;
      }

      .status {
        margin-top: 1.25rem;

        text-align: center;
        font-weight: 700;
        font-size: 2rem;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        color: #fff;
      }

      .text {
        margin-top: 1.25rem;
        color: #fff;
        font-size: 0.85rem;

      }
    }

  }

  .content-docs {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;

    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;

    h2 {
      margin-top: 2rem;
    }
    h3 {
      margin-top: 1rem;
    }

  }

  .footer {
    margin-top: 3rem;
    text-align: center;
    color: #fff;
  }

  .note {
    color: #dbdbdb;
    font-size: 0.9rem;
    margin: 2rem 0;
  }

}


/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}