
<footer class="footer">
    <nav>
        <a title="API-Dokumentation" href="/apidoc">API</a> | <a title="Impressum" href="/impressum">Impressum</a> | <a title="Webseite der Ulmer TTN- und LoRa-Gruppe" href="https://lora.ulm-digital.com">TTN Ulm</a> | <a title="Source Code dieser Webseite auf Github ansehen" href="https://github.com/verschwoerhaus/ttn-ulm-flood">Github</a> | <a title="Twitter-Account der Ulmer LoRa- und TTN-Gruppe" href="https://twitter.com/ttn_ulm">Twitter</a> | <a title="Wir sind Teil des Ulmer Verschwörhauses" href="https://verschwoerhaus.de">Verschwörhaus</a> | <a title="https://lora.ulm-digital.com" href="https://www.ulm.de/leben-in-ulm/digitale-stadt/geschaeftsstelle-digitale-agenda">Digitale Agenda Stadt Ulm</a>
    </nav>
</footer>

</div>

</body>
</html>