<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="de"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="de"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="de"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="de"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="de"><!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#01a7ff">
    <meta name="author" content="Matthias Schneider">
    <meta name="description" content="{{ description }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="assets/js/main.js"></script>

    <title>{{ title }}</title>
    <!--
    Developed by Matthias Schneider of TTN Ulm / flurp.de / Cortex Media GmbH.
    https://lora.ulm-digital.com  / https://flurp.de / https://cortex-media.de
    -->
</head>
<body>
<div class="main">