{{ include('header.html', {'title': 'Impressum', 'description': 'Impressum TTN-Hochwassersensoren in Ulm.' }) }}

<div class="minor-content">
    <h1>Impressum</h1>

    <p class="impressum">
        <strong>Anbieter, Angaben gemäß § 5 TMG</strong>
        <br>
        temporärhaus e.V.
        <br>
        TTN/LoRa Gruppe
        <br>
        Eberhardstr. 43
        <br>
        89073 Ulm
        <br>
    </p>

    <p class="impressum">
        <strong>Kontakt</strong>
        <br>
        E-Mail: info [ät] ttnulm.de
        <br>
        Web: <a href="https://temporaerhaus.de">temporaerhaus.de</a>
    </p>

    <p class="impressum">
        <strong>Verantwortlich nach § 6 Abs.2 MDStV</strong>
        <br>
        Matthias Schneider
        <br>
        Anschrift s.o.

    </p>
</div>

{{ include('footer.html') }}
