{{ include('header.html') }}

<div class="headline">
    <h1>Hochwasser Ulm</h1>
    <img class="logo" src="assets/img/ttnulm.svg">
    <h3>Ein TTN Ulm Projekt</h3>
</div>

<div class="content">

    <div class="item {% if highwater %}alert{% else %}ok{% endif %}">
        <h2>Herdbrücke</h2>

        <div class="status">
            {% if highwater %}
            Hochwasser
            {% else %}
            Kein Hochwasser
            {% endif %}
        </div>

        <div class="text">
            <p>{{ (diff)|round(1,'floor') }} cm Unterschied in den letzten 2 Stunden.</p>
        </div>
    </div>

</div>

<div class="note">
    <p>Schwankungen von +- 0.5cm bei Trockenheit<br>sind vermutlich brückentechnisch bedingt<br>(Vibration, Ausdehnung, ...).</p>
</div>


{{ include('footer.html') }}