{{ include('header.html', {'title': 'Hochwasser Ulm: Donau und Blau', 'description': 'Live-Daten, ob Hochwasser den Geh- und Radweg in Ulm an Donau und Blau überschwemmt hat. Ein TTN Ulm-Projekt.' }) }}
<header class="headline">
    <h1>Hochwasser Ulm</h1>
    <img class="logo" alt="Logo der LoRa- / TTN-Gruppe Ulm" src="assets/img/ttnulm.svg">
    <p role="doc-subtitle">Ein TTN Ulm Projekt</p>
</header>

<main class="content">

    <section class="item {% if highwater1 %} alert{% else %} ok{% endif %}">
        <h2>Herdbrücke</h2>
        
        <div class="status">
            {% if highwater1 %}
            Hochwasser
            {% else %}
            Kein Hochwasser
            {% endif %}
        </div>

        <div class="text">
            <p>{{ (abs1)|round(1, 'floor') }} cm Hochwasser</p>
            <p>{{ (diff1)|round(1,'floor') }} cm Unterschied in den letzten 2 Stunden.</p>
        </div>
    </section>

    <section class="item {% if highwater2 %} alert{% else %} ok{% endif %}">
        <h2>Eisenbahnbrücke Blau</h2>

        <div class="status">
            {% if highwater2 %}
            Hochwasser
            {% else %}
            Kein Hochwasser
            {% endif %}
        </div>

        <div class="text">
            <p>{{ (abs2)|round(1, 'floor') }} cm Hochwasser</p>
            <p>{{ (diff2)|round(1,'floor') }} cm Unterschied in den letzten 2 Stunden.</p>
        </div>
    </section>

</main>

<div role="note" class="note">
    <p>Schwankungen von +- 0.5 cm bei Trockenheit<br>sind vermutlich brückentechnisch bedingt<br>(Vibration, Ausdehnung, ...).</p>
</div>


{{ include('footer.html') }}